{% if settings.links or settings.edit_enabled %}
<nav id="menu">
  <ul>
    {% if settings.links %}{% for title, link in settings.links %}
    <li><a href="{{ link }}">{{ title }}</a></li>
    {% endfor %}{% endif %}
    <li><a href="{{ settings.toggle_link }}?id={{ settings.gallery_id }}">{% for value, text in settings.toggle_editing %}{% if settings.edit_enabled == value %}{{ text }}{% endif %}{% endfor %}</a>
  </ul>
</nav>
{% endif %}
